@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-family: "Inter", sans-serif;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 2px;
  background-color: #ccc9c9;
  border-style: none;
}

a {
  color: rgb(61, 61, 61);
}

.menuContainer {
  padding: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menuContainer .fullMenu {
  display: none;
}
.menuContainer .burgerIcon {
  font-size: 30px;
  padding-top: 4px;
  color: #999999;
}

.heroSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.heroSection .heroCard {
  padding-left: 36px;
  max-width: 274px;
  min-height: 410px;
}
.heroSection .heroCard h3 {
  color: rgb(250, 65, 210);
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.heroSection .heroCard h1 {
  font-size: 48px;
  min-width: 274px;
  font-weight: 900;
  margin-top: 0px;
}
.heroSection .heroCard p {
  font-size: 20px;
  color: grey;
  font-weight: 400;
  line-height: 30px;
  min-width: 274px;
}
.heroSection .heroCard .btn {
  background-color: white;
  padding: 25px 55px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 20px;
  border-color: #ff3998;
  border-width: 5px;
  margin-bottom: 60px;
}
.heroSection .heroPicture {
  overflow: hidden;
}
.heroSection .heroPicture img {
  max-width: 420px;
  margin-left: -70px;
  margin-top: -50px;
}

.addSection {
  background-image: -webkit-gradient(linear, left top, right top, from(#FF3998), color-stop(#ff3939), color-stop(#ff8139), to(#39FFA0));
  background-image: linear-gradient(to right, #FF3998, #ff3939, #ff8139, #39FFA0);
  padding-left: 32px;
  padding-top: 75px;
}
.addSection .sectionTitle {
  font-size: 40px;
  font-weight: 500;
}
.addSection .addText {
  font-size: 20px;
  line-height: 25px;
  padding-bottom: 38px;
}

.shopSection {
  max-width: 100%;
  margin-left: 32px;
  margin-right: 32px;
}
.shopSection .logoGrid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  max-width: 1vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px 60px;
  margin-top: 50px;
}
.shopSection .imgNotDisplay {
  display: none;
}
.shopSection .logoGrid img {
  max-width: 150px;
}
.shopSection .sectionTitle {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 15px;
}
.shopSection .shopPharagraph {
  font-size: 20px;
  color: grey;
  font-weight: 400;
  line-height: 30px;
  min-width: 274px;
  margin-top: 0;
}
.shopSection .shopPharagraph a {
  font-size: 20px;
  color: rgb(61, 61, 61);
  font-weight: 400;
  line-height: 30px;
  min-width: 274px;
}
.shopSection .shopImage {
  grid-area: photo;
}
.shopSection .shopCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 40px;
  width: 110%;
  overflow: hidden;
}
.shopSection .cardSubtitleLeft {
  grid-area: left;
  padding-left: 20px;
}
.shopSection .cardSubtitleLeft .orangeText {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 12px;
  text-transform: uppercase;
  color: #ff8139;
  font-weight: 500;
}
.shopSection .cardSubtitleLeft .cardName {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}
.shopSection .cardSubtitleLeft .cardCode {
  margin-top: 10px;
  font-size: 18px;
}
.shopSection .cardSubtitleRight {
  grid-area: right;
  text-align: right;
  padding-right: 20px;
}
.shopSection .cardSubtitleRight .orangeText {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 12px;
  text-transform: uppercase;
  color: #999999;
  font-weight: 500;
}
.shopSection .cardSubtitleRight .cardName {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}
.shopSection .cardSubtitleRight .cardName::before {
  content: url(/images/pricePic.svg);
  padding-right: 10px;
}
.shopSection .cardSubtitleRight .cardCode {
  margin-top: 10px;
  font-size: 18px;
}
.shopSection .shopCard {
  background-color: #eeeeee;
  min-width: 290px;
  max-width: 290px;
  border-radius: 25px;
  display: grid;
  margin-bottom: 80px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "photo photo" "photo photo" "photo photo" "photo photo" "left right";
}

.launchSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-left: 32px;
}
.launchSection .launchImage img {
  min-height: 450px;
  margin-top: 159px;
  margin-bottom: -1px;
  margin-left: -60px;
}
.launchSection .launchCard {
  min-width: 70%;
}
.launchSection .launchCard h3 {
  color: rgb(250, 65, 210);
  font-size: 16px;
  margin-top: 60px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.launchSection .launchCard .launchTitle {
  font-size: 56px;
  max-width: 274px;
  font-weight: 900;
  margin-top: 0px;
}
.launchSection .launchCard .launchText {
  font-size: 20px;
  color: rgb(61, 61, 61);
  font-weight: 400;
  line-height: 30px;
  max-width: 207px;
}
.launchSection .launchCard .btn {
  background-color: white;
  padding: 25px 55px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 20px;
  border-color: #ff3998;
  border-width: 3px;
  margin-bottom: 60px;
}

.footer {
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 60px;
  margin-bottom: 90px;
}
.footer p {
  font-size: 20px;
  color: rgb(61, 61, 61);
  font-weight: 400;
  line-height: 30px;
}
.footer .footerItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  font-size: 20px;
}
.footer .footerNav {
  display: grid;
  grid-template-columns: 2fr 2fr;
}
.footer .footerNavContainer h6 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}
.footer .footerNavContainer ul {
  list-style: none;
  padding-left: 0;
  line-height: 40px;
  font-size: 20px;
}
.footer .footerBottomLeft {
  margin-top: 15px;
  color: #555555;
}
.footer .footerBottomRight {
  display: none;
  color: #555555;
}

@media (min-width: 1400px) {
  hr {
    margin-left: 50px;
    margin-right: 50px;
  }
  .mainLogo {
    padding-top: 8px;
  }
  .navTab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navTab .fullMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navTab .fullMenu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 15px;
    list-style: none;
  }
  .navTab .fullMenu li {
    font-size: 20px;
    font-weight: 600;
  }
  .navTab .fullMenu li .pink {
    color: #ff3998;
  }
  .navTab .fullMenu li a {
    text-decoration: none;
  }
  .navTab .navBurger {
    display: none;
  }
  .heroSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 50px;
    margin-right: 50px;
  }
  .heroSection .heroCard {
    min-width: 50%;
  }
  .heroSection .heroCard h1 {
    font-size: 96px;
    margin-bottom: 5px;
  }
  .heroSection .heroCard p {
    margin-bottom: 40px;
  }
  .heroSection .heroPicture img {
    min-height: 519px;
    min-width: 700px;
    margin-top: 20px;
  }
  .addSection {
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
    min-height: 300px;
  }
  .addSection h2 {
    margin-top: 70px;
    margin-bottom: 20px;
  }
  .addSection p {
    margin-bottom: 0px;
  }
  .shopSection {
    margin-left: 50px;
    margin-right: 50px;
  }
  .shopSection .shopTabGrid p {
    margin-bottom: 60px;
  }
  .shopSection .logoGrid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 140px;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .shopSection .logoGrid .imgNotDisplay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .launchSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 50px;
    margin-right: 50px;
  }
  .launchSection .launchCard .launchTitle {
    min-width: 80%;
  }
  .launchSection .launchCard h2 {
    font-size: 96px;
    margin-bottom: 5px;
  }
  .launchSection .launchCard p {
    margin-bottom: 40px;
    min-width: 60%;
  }
  .launchSection .launchImage img {
    max-height: 519px;
    max-width: 700px;
    margin-top: 80px;
    margin-right: 350px;
  }
  .footer {
    margin-left: 50px;
    margin-right: 50px;
  }
  .footer h6 {
    margin-bottom: 0px;
    font-weight: 500;
  }
  .footer .footerFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footerNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 60px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .footer .footerBottomRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
  }
  .footer .footerBottomLeft {
    margin-top: 0px;
  }
  .footer .footerBottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0px;
  }
}/*# sourceMappingURL=main.css.map */