@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-family: "Inter", sans-serif;
}

.menuContainer {
  padding: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menuContainer .burgerIcon {
  font-size: 30px;
  padding-top: 4px;
  color: #999999;
}

.heroSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.heroSection .heroCard h3 {
  color: rgb(250, 65, 210);
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.heroSection .heroCard h1 {
  font-size: 48px;
  min-width: 274px;
  font-weight: 900;
  margin-top: 0px;
}
.heroSection .heroCard p {
  font-size: 20px;
  color: grey;
  font-weight: 400;
  line-height: 30px;
  min-width: 274px;
}
.heroSection .heroCard .btn {
  background-color: white;
  padding: 25px 55px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 20px;
  border-color: #FF3998;
  border-width: 3px;
  margin-bottom: 60px;
}
.heroSection .heroCard {
  position: relative;
  padding-left: 36px;
  max-width: 274px;
  min-height: 410px;
}
.heroSection .heroPicture img {
  position: absolute;
  max-height: 400px;
  left: 222px;
  top: 50px;
}

.addSection {
  background-image: -webkit-gradient(linear, left top, right top, from(#FF3939), to(#FF8139));
  background-image: linear-gradient(to right, #FF3939, #FF8139);
  padding-left: 32px;
  padding-top: 75px;
}
.addSection .sectionTitle {
  font-size: 40px;
  font-weight: 500;
}
.addSection .addText {
  font-size: 20px;
  line-height: 25px;
  padding-bottom: 38px;
}

.shopSection {
  margin-left: 32px;
  margin-right: 32px;
}
.shopSection .logoGrid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  max-width: 1vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px 60px;
  margin-top: 50px;
}
.shopSection .logoGrid img {
  max-width: 150px;
}
.shopSection .sectionTitle {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 15px;
}
.shopSection .shopPharagraph {
  font-size: 20px;
  color: grey;
  font-weight: 400;
  line-height: 30px;
  min-width: 274px;
  margin-top: 0;
}
.shopSection .shopPharagraph a {
  font-size: 20px;
  color: rgb(61, 61, 61);
  font-weight: 400;
  line-height: 30px;
  min-width: 274px;
}
.shopSection .shopImage {
  grid-area: photo;
}
.shopSection .shopCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 40px;
}
.shopSection .cardSubtitleLeft {
  grid-area: left;
  padding-left: 20px;
}
.shopSection .cardSubtitleLeft .orangeText {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 12px;
  text-transform: uppercase;
  color: #FF8139;
  font-weight: 500;
}
.shopSection .cardSubtitleLeft .cardName {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}
.shopSection .cardSubtitleLeft .cardCode {
  margin-top: 10px;
  font-size: 18px;
}
.shopSection .cardSubtitleRight {
  grid-area: right;
  text-align: right;
  padding-right: 20px;
}
.shopSection .cardSubtitleRight .orangeText {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 12px;
  text-transform: uppercase;
  color: #999999;
  font-weight: 500;
}
.shopSection .cardSubtitleRight .cardName {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}
.shopSection .cardSubtitleRight .cardName::before {
  content: url(/images/pricePic.svg);
  padding-right: 10px;
}
.shopSection .cardSubtitleRight .cardCode {
  margin-top: 10px;
  font-size: 18px;
}
.shopSection .shopCard {
  background-color: #EEEEEE;
  min-width: 290px;
  max-width: 290px;
  border-radius: 25px;
  display: grid;
  margin-bottom: 80px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "photo photo" "photo photo" "photo photo" "photo photo" "left right";
}/*# sourceMappingURL=main.css.map */