@use "reset";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');

html {
    font-family: 'Inter', sans-serif;;
}

.menuContainer {
    padding: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .burgerIcon {
        font-size: 30px;
        padding-top: 4px;
        color: #999999;
    }
}

.heroSection {
    display: flex;

    .heroCard h3 {
        color: rgb(250, 65, 210);
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .heroCard h1 {
        font-size: 48px;
        min-width: 274px;
        font-weight: 900;
        margin-top: 0px;
    }

    .heroCard p {
        font-size: 20px;
        color: grey;
        font-weight: 400;
        line-height: 30px;
        min-width: 274px;
    } 

    .heroCard .btn {
        background-color: white;
        padding: 25px 55px;
        border-radius: 50px;
        font-weight: 600;
        font-size: 20px;
        border-color: #FF3998;
        border-width: 3px;
        margin-bottom: 60px;
    }

    .heroCard {
        position: relative;
        padding-left: 36px;
        max-width: 274px;
        min-height: 410px;
    }

    .heroPicture img {
        position: absolute;
        max-height: 400px;
        left: 222px;
        top: 50px;
    }
}

.addSection {
    background-image: linear-gradient(to right, #FF3939, #FF8139);
    padding-left: 32px;
    padding-top: 75px;

    .sectionTitle {
        font-size: 40px;
        font-weight: 500;
    }

    .addText {
        font-size: 20px;
        line-height: 25px;
        padding-bottom: 38px;
    }
}

.shopSection {
    margin-left: 32px;
    margin-right: 32px;

    .logoGrid {
        display: grid;
        grid-template-columns: 2fr 2fr;
        max-width: 1vh;
        align-items: center;
        gap: 20px 60px;
        margin-top: 50px;
    }

    .logoGrid img {
        max-width: 150px;
    }

    .sectionTitle {
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 15px;
    }

    .shopPharagraph {
        font-size: 20px;
        color: grey;
        font-weight: 400;
        line-height: 30px;
        min-width: 274px;
        margin-top: 0;
    }

    .shopPharagraph a {
        font-size: 20px;
        color: rgb(61, 61, 61);
        font-weight: 400;
        line-height: 30px;
        min-width: 274px;
    }

    .shopImage {
        grid-area: photo;
    }

    .shopCards {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .cardSubtitleLeft {
        grid-area: left;
        padding-left: 20px;

        .orangeText {
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 12px;
            text-transform: uppercase;
            color: #FF8139;
            font-weight: 500;
        }

        .cardName {
            font-size: 20px;
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 500;
        }

        .cardCode {
            margin-top: 10px;
            font-size: 18px;
        }
    }

    .cardSubtitleRight {
        grid-area: right;
        text-align: right;
        padding-right: 20px;

        .orangeText {
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 12px;
            text-transform: uppercase;
            color: #999999;
            font-weight: 500;
        }

        .cardName {
            font-size: 20px;
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 500;
        }

        .cardName::before {
            content: url(/images/pricePic.svg);
            padding-right: 10px;
        }

        .cardCode {
            margin-top: 10px;
            font-size: 18px;
        }
    }

    .shopCard {
        background-color: #EEEEEE;
        min-width: 290px;
        max-width: 290px;
        border-radius: 25px;
        display: grid;
        margin-bottom: 80px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            'photo photo'
            'photo photo'
            'photo photo'
            'photo photo'
            'left right'
        ;

    }


}